.slick-arrow, .slick-next {
  filter: invert(70%);
}

.carousel-big-container {
  height: 100vh;
}

.card-carousel {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.center {
  width: 80vw;
  margin: 0 auto;
}

.carousel-big-container {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .slick-arrow {
    transform: scale(2);
    opacity: 1.0;
    display: flex ;
  }
  
  .slick-arrow:not(:hover) {
    transform: scale(2);
    transition: 0.9s;
  }
  
  .slick-arrow:hover {
    transform: scale(3);
    transition: 0.9s;
    background-color: #5F5DCF;
    border-radius: 5px;
    filter: invert(0);
    padding: 5px;
  }
  
}

@media screen and (max-width: 768px) {
  .card-carousel {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  .project-card-none{
    display: none;
  }

  .slick-slide {
    visibility: hidden;
  }

  .slick-center, .slick-active, .slick-current {
    visibility: visible;
  }

  .center {
    width: 80vw;
    margin: 0 auto;
  }

  .carousel-big-container {
    height: 100%;
  }

  .slick-arrow {
    transform: scale(1.1);
    opacity: 1.0;
    display: flex ;
  }  
  
}