 .header-hello {
   padding: 100px 50px 70px 50px;
   font-size: 35px;
   text-align: center;
 }

#contact-container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #contact-links {
   display: flex;
   justify-content: center;
   padding: 20px;
 }

 #location-container {
   padding-top: 20px;
   text-align: center;
 }

 #contact-big-container {
   display: flex;
   justify-content: center;
 }

 #floatingTextarea {
   width: 1000px;
 }

 #btn-div {
   display: flex;
   justify-content: center;
   padding-top: 20px;
 }

 .aside-contact-img {
  width: 50px;
  fill: #fff;
  margin: 10px;
}

.aside-contact-img:hover {
  fill: #43D993;
  transform: scale(1.2);
  transition: 0.5s;
}

.aside-contact-img:not(:hover) {
  fill: #fff;
  transform: scale(1.0);
  transition: 0.5s;
}

 #btn-submit-contact {
   width: 300px;
   background-color: #5EF275;
   opacity: 0.5;
   border: none;
   font-size: 20px;
   color: #2F3A59;
   font-weight: 500;
 }

 #btn-submit-contact:hover {
  width: 300px;
  background-color: #5EF275;
  opacity: 1.0;
  transition: 0.7s;
  border: none; 
}

#btn-submit-contact:not(:hover) {
  width: 300px;
  background-color: #5EF275;
  opacity: 0.5;
  transition: 0.7s;
  border: none; 
}

 #contact {
  background-color: #2F3A59;;
  color: #5EF275;
 }

 .form-label {
   color: #fff;
 }

 @media screen and (max-width: 768px) {
  .header-hello {
    font-size: 1.4rem;
  }

  .text-inputs {
    width: 80%;
    max-width: 400px;
  }

  #floatingTextarea {
    width: 80%;
    max-width: 400px;
    align-items: center;
  }
  
 }