 .header-hello {
   padding: 100px 50px 70px 50px;
   font-size: 35px;
   text-align: center;
 }

 .contact-div a img {
   width: 70px;
 }

 .contact-div img {
   width: 50px;
   opacity: 0.5;
   padding-bottom: 10px;
   padding-top: 5px;
 }

 .contact-div img:hover {
   opacity: 1.0;
 }

 #contact-container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #contact-links {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
 }

 #contact-links a {
   padding: 15px;   
}

 #location-container {
   padding-top: 20px;
   text-align: center;
 }

 #contact-big-container {
   display: flex;
   justify-content: center;
 }

 #floatingTextarea {
   width: 1000px;
 }

 #btn-div {
   display: flex;
   justify-content: center;
   padding-top: 20px;
 }

 #btn-submit-contact {
   width: 300px;   
 }

 #contact {
  background-color: #333;;
  color: white;
 }

 @media screen and (max-width: 768px) {
  .header-hello {
    font-size: 1.5rem;
  }

  .text-inputs {
    width: 80%;
    max-width: 400px;
  }

  #floatingTextarea {
    width: 80%;
    max-width: 400px;
    align-items: center;
  }
  
 }