* {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
}

.Header, aside {
  padding: 300px 0 50px 80px;
}

.title-one, .title-two {
  padding-bottom: 15px;
}

.title-general {
  padding-top: 50px;
  font-size: 30px;
}

.homeContainer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

aside {
  display: flex;
  flex-direction: column;  
}

aside img {
  width: 30px;
  padding-bottom: 15px;  
}

#dev-pic {
  width: 800px;
  padding-top: 150px;
  margin-left: 100px;
}

.img-home {
  opacity: 1.0;
}

.text {
  font-size:50px;
  font-family: 'Roboto', sans-serif;
}

