.Header, .aside-home {
  padding: 300px 0 50px 80px;
}

.aside-home-img {
  width: 50px;
  fill: #fff;
  margin: 10px;
}

.aside-home-img:hover {
  fill: #43D993;
  transition: 0.5s;
}

.aside-home-img:not(:hover) {
  fill: #fff;
  transition: 0.5s;
}

.title-one, .title-two {
  padding-bottom: 15px;
}

.title-name {
  color: #fff;
}

.title-general {
  padding-top: 50px;
  font-size: 30px;
}

.homeContainer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 110px;  
}

.aside-home {
  display: flex;
  flex-direction: column;  
}

.aside-home img {
  padding-bottom: 15px;  
}

#dev-pic {
  width: 900px;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-left: 100px;
}

.img-home {
  opacity: 1.0;
}

.text {
  font-size:50px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
.aside-home {
  display: none;
}

.Header {
  padding-top: 50px;
}
.title-general {
  font-size: 1.2rem;
  padding-top: 0;
}
.text {
  font-size: 1rem;
}

.homeContainer {
  flex-direction: column;
  padding-right: 25px;
}

#dev-pic {
  width: 300px;
  padding: 0;
  margin: 0 auto;  
}

.title-two, .title-one {
  font-size: 1.5rem;
}

}