*{
  margin: 0;
  padding: 0;
}
.NavBar {
  height: 60px;
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

.Link {
  text-decoration: none;
  color: aliceblue;
  padding: 20px;
  align-items: flex-end;
  opacity: 1.0;
}

.Link:hover {
  opacity: 0.8;
}

.Contact {
  margin-right: 50px;
}