.opening {
height: 100%;
background-color: #333;
clip-path: polygon(0 0, 150% 0, 100% 100%, 0 80%);

}

.opening-hero {
  text-align: center;
  padding-top: 35vh;
  padding-bottom: 150px;
  color: #fafafa;
  font-size: 100px;
}

.opening-hero-two {
  text-align: center;
  font-size: 80px;
  color: #333;
}