
.profile-card {
    height: 312px;
    width: 310px;
    background: #5F5DCF;
    padding: 20px;
    position: relative;    
    z-index: 1;
}

.profile-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(2deg, 5deg);
    z-index: 1;
    background: #939598;
}

.img-profile {
  z-index: 3;
  width: 270px;
  margin-bottom: 30px;
  position: absolute;
}
